.button {
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  background-color: $basic_green;
  text-align: center;
  display: block;
}

.button--grey {
  background-color: $basic_grey;
  color: $special_dark-grey;
  font-size: 16px;
}
