.catalog__list {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 80px;
  }
}

.catalog__container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  padding: 25px 1em 25px 0;
  display: inline-block;
  background-color: #ffffff;
  position: relative;
  z-index: 2;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 70px 1em;
    left: -1em;
  }
}

.catalog__item {
  border-top: 1px solid $special_light-grey;

  &:last-of-type {
    border-bottom: 1px solid $special_light-grey;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.catalog__delimiter {
  position: relative;
  overflow: hidden;
}

.catalog__delimiter::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: $basic_green;
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 33%;

  @media (min-width: $tablet-width) {
    top: 90px;
    left: 0;
  }
}
