.hero {
  background-color: $basic-green;
  color: #ffffff;
}

.hero__title {
  font-weight: 400;
  font-size: 36px;
}

.hero__slogan {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}
