.main-nav {
  font-weight: 500;
  font-size: 20px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    z-index: 2;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.main-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;

  border-bottom: 1px solid $special_light-grey;

  @media (min-width: $tablet-width) {
    border: none;
    margin-right: 2em;
    height: 42px;

    &:last-child {
      margin-right: 0;
    }
  }

  &--current {
    @media (min-width: $tablet-width) {
      border-bottom: 2px solid $basic-green;
    }
  }
}

.main-nav--index .main-nav__item--current {
  @media (min-width: $tablet-width) {
    border-bottom-color: #ffffff;
  }
}

.main-nav__link {
  display: block;
  text-decoration: none;
  color: #000000;
}

.main-nav--index .main-nav__link {
  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 8px;
  right: calc(50% - 140px);
  z-index: 2;
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
  background: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 17px;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    right: 0;
    width: 25px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav__item:first-child {
    border-top: 1px solid $special_light-grey;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}
