.main-nav {
  font-weight: 500;
  font-size: 20px;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.main-nav__link {
  display: block;
  text-decoration: none;
  color: #000000;
  height: 66px;
}

.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
