.page-header__top {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin: 0 auto;
    width: 708px;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.page-header__container {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 175px;
    margin: 0;
  }

  /* @media (min-width: $desktop-width) {
  } */
}

.page-header__logo {
  display: block;
  height: 66px;
}
