.page-form__title {
  font-weight: 400;
  font-size: 36px;
}

.page-form__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.page-title__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.page-form__label,
.page-form__input {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  text-transform: uppercase;
}

.page-form__label--extra {
  color: #000000;
}

.page-form__input {
  border: 1px solid $special_light-grey;
}

.page-form__button {
  border: none;
  font-size: 16px;
  line-height: 20px;
}

.page-form__note {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.page-form__customer {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.page-form__customer-contacts {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.page-form__customer-extra {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.page-form__subtitle,
.page-form__container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 630px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}
