.programs {
  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.programs__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.programs__item {
  background-color: $basic-grey;
  padding: 20px;
  margin-top: 20px;
}

.programs__title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  margin: 0;
  padding: 10px 0;
}

.programs__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
  margin: 0 0 20px 0;
  padding: 15px 0;
  border-bottom: 1px solid #d9d9d9;
}

.programs__link {
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.programs__container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}
