.programs {
  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.programs__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-gap: 20px;
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    grid-gap: 30px;
    margin-top: 14px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
    margin-top: 80px;
  }
}

.programs__item {
  background-color: $basic-grey;
  padding: 20px;

  @media (min-width: $tablet-width) {
    padding: 70px 45px 58px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 38px 45px 58px 52px;
  }
}

.programs__title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  margin: 0;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    position: relative;
    padding: 0;
    margin-top: 6px;
  }
}

.programs__item--lose .programs__title::before {
  content: "";
  background-image: url("../img/icon-cat-slim.svg");
  background-size: cover;
  //width: 50px;
  //height: 53px;
  width: 52px;
  height: 55px;
  display: inline-block;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 212px;
    position: absolute;
    right: -3px;
    top: 4px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 100px;
    height: 106px;
    margin-right: 60px;
    top: 0;
    left: 0;
  }
}

.programs__item--gain .programs__title::before {
  content: "";
  background-image: url("../img/icon-cat-muscle.svg");
  background-size: cover;
  width: 67px;
  height: 50px;
  display: inline-block;
  margin-right: 12px;
  margin-left: -7px;
  margin-top: 3px;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 200px;
    position: absolute;
    right: -27px;
    top: 13px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 134px;
    height: 100px;
    margin-right: 36px;
    top: 0;
    left: -10px;
  }
}

.programs__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
  margin: 0 0 20px 0;
  padding: 21px 0;

  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    border: none;
    padding: 25px 0;
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding: 38px 0 26px;
  }
}

.programs__link {
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;

  &::after {
    content: "";
    background-image: url("../img/icon-arrow-right.svg");
    width: 24px;
    height: 12px;
    display: inline-block;
    position: relative;
    left: 1em;

    @media (min-width: $tablet-width) {
      left: 1.25em;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:active {
    //color: #b3b3b3;
    opacity: 0.3;
  }
}

.programs__link:hover {
  &::after {
    background-image: url("../img/icon-arrow-right-long.svg");
    width: 32px;
  }
}

.programs__container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.programs__item--lose .programs__description {
  @media (min-width: $tablet-width) {
    width: 377px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.programs__item--gain .programs__description {
  @media (min-width: $tablet-width) {
    width: 342px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}
