.range-slider {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.range-slider__button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.range-slider__range {
  appearance: none;
  margin: 0 1em;
  box-sizing: border-box;
  height: 14px;
  padding: 3px;
  border: 1px solid $special_grey;
  border-radius: 7px;
  width: 84px;

  @media (min-width: $tablet-width) {
    width: 428px;
    border: none;
    height: 6px;
    border-radius: 3px;
    background-color: $special_grey;
  }
}

.range-slider__range::-webkit-slider-thumb {
  appearance: none;
  width: 50%;
  height: 6px;
  box-sizing: border-box;
  background: $basic_green;
  cursor: pointer;
  border-radius: 3px;
  display: block;

  @media (min-width: $tablet-width) {
    width: 34px;
    height: 34px;
    background: radial-gradient(circle, $basic_green 4px, #ffffff 5px);
    border-radius: 50%;
    border: 1px solid $special_grey;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
  }

  &:hover {
    @media (min-width: $tablet-width) {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    }
  }

  &:active {
    @media (min-width: $tablet-width) {
      border-color: $basic_green;
    }
  }
}

.range-slider__range::-moz-range-thumb {
  appearance: none;
  width: 50%;
  height: 6px;
  box-sizing: border-box;
  background: $basic_green;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  display: block;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 34px;
    height: 34px;
    background: radial-gradient(circle, $basic_green 4px, #ffffff 5px);
    border-radius: 50%;
    border: 1px solid $special_grey;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
  }

  &:hover {
    @media (min-width: $tablet-width) {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    }
  }

  &:active {
    @media (min-width: $tablet-width) {
      border-color: $basic_green;
    }
  }
}
