.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social__item {
  margin: 0 1.1em;
}

.social__icon {
  fill: $special_grey2;

  &:hover {
    fill: $basic_green;
  }

  &:active {
    opacity: 0.3;
  }

  &--fb {
    fill: none;
    stroke: $special_grey2;

    &:hover {
      stroke: $basic_green;
    }
  }
}
