.steps {
  padding-bottom: 42px;
}

.steps__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding: 27px 0 38px 0;
}

.steps__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
  display: grid;
  grid-gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.steps__container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.steps__descriptions {
  margin: 0;
}

.steps__item {
  position: relative;
  box-sizing: border-box;
  padding-left: 80px;
  min-height: 60px;

  @media (min-width: $tablet-width) {
    width: 250px;
    height: 280px;
    //outline: 1px dotted red;
    box-sizing: border-box;
    padding-left: 0;
    padding-top: 140px;
  }
}

.steps__item::before {
  content: "";
  background-size: cover;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    top: 40px;
  }
}

.steps__item--consist::before {
  background-image: url("../img/icon-leafe.svg");
}

.steps__item--form::before {
  background-image: url("../img/icon-powder.svg");
}

.steps__item--change::before {
  background-image: url("../img/icon-fork.svg");
}

.steps__item--time::before {
  background-image: url("../img/icon-clock.svg");
}

@media (min-width: $tablet-width) {
  .steps__item::after {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    color: $basic-grey;
    font-size: 280px;
    line-height: 280px;
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .steps__item--consist::after {
    content: "1";
  }

  .steps__item--form::after {
    content: "2";
  }

  .steps__item--change::after {
    content: "3";
  }

  .steps__item--time::after {
    content: "4";
  }
}
