.steps__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.steps__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.steps__item {
  display: block;

  @media (min-width: $tablet-width) {
    width: 250px;
    min-height: 280px;
  }
}
