.visually-hidden {
  display: none;
}

.br-mobile {
  display: inline;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.br-not-mobile {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.br-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
