.example {
  &__title {
    font-family: "Oswald Regular", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
  }

  &__description {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $special_dark-grey;
  }

  &__result-big {
    font-family: "Oswald Regular", sans-serif;
    font-weight: 400;
    font-size: 24px;
  }

  &__result-small {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: $special_dark-grey;
  }

  &__bill {
    font-family: "Oswald Regular", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }
}
