.hero {
  background-color: $basic-green;
  color: #ffffff;

  &__title {
    font-weight: 400;
    font-size: 36px;
  }

  &__slogan {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
  }
}
